mrpc-core/src/main/resources/META-INF/sehema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://junicorn.github.io/schema/mrpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://junicorn.github.io/schema/mrpc"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="referer">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="interface" type="xsd:string" use="required"/>
            <xsd:attribute name="client" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>