mrpc-core/src/main/resources/META-INF/sehema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://mrpc.kongzhong.com/schema/mrpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mrpc.kongzhong.com/schema/mrpc"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!--注册中心配置-->
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心标识 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心类型zookeeper/consul/defaul ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="address" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心连接地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="connTimeout" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心连接超市,单位/毫秒 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--服务端统一配置-->
    <xsd:element name="serverConfig">
        <xsd:complexType>
            <xsd:attribute name="elasticIp" type="xsd:string" use="optional"/>
            <xsd:attribute name="poolName" type="xsd:string" use="optional"/>

            <xsd:attribute name="address" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务暴露地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="appId" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ AppID ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="transport" type="xsd:string" use="optional" default="tcp">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 传输协议tcp/http ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="serialize" type="xsd:string" use="optional" default="kyro">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 序列化协议kyro/protobuf ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="interceptors" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端拦截器 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

        </xsd:complexType>
    </xsd:element>

    <!--客户端统一配置-->
    <xsd:element name="clientConfig">
        <xsd:complexType>
            <xsd:attribute name="appId" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ AppID ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="transport" type="xsd:string" use="optional" default="tcp">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 传输协议tcp/http ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="serialize" type="xsd:string" use="optional" default="kyro">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 序列化协议kyro/protobuf ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="inteceptors" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 拦截器列表 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="directAddress" type="xsd:string" use="optional"/>
            <xsd:attribute name="waitTimeout" type="xsd:int" use="optional" default="10">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 客户端调用等待超时，单位/秒 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--客户端引用配置-->
    <xsd:element name="referer">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="interface" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation source="java:java.lang.Class"><![CDATA[ 接口名 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="directAddress" type="xsd:string" use="optional"/>
            <xsd:attribute name="registry" type="xsd:string" use="optional"/>
            <xsd:attribute name="waitTimeout" type="xsd:int" use="optional" default="10">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 客户端调用等待超时，单位/秒 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--服务端服务暴露配置-->
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="interface" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation source="java:java.lang.Class"><![CDATA[ 服务接口名 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="ref" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务实现 "<ref bean='...'/>". ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="address" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务暴露地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="registry" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务注册中心 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>